
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    Name       <input type="text" name="department" value="" />
          <br />
    Buget      <input type="number" name="BUdget" value="" />
          <br />
    StartDate <input type="date" name="StartDate" value="" />
          <br />
              <input type="submit" name="SaveDepartment" value="save" class="btn btn-primary" />
</form>
